/*=========================|Header|=========================*/
html { overflow-y: scroll; overflow-x:hidden; }


/*===============|Nav|================*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px;
    z-index:1;
}


.navbar1{
    background-color: #ffffff;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
   
}


.nav-left{
    display: flex;
    margin-left: 50px;
}
.nav-left p{
    margin-left: 15px;
    font-weight: bold;
    color: #1f1f1f;
    margin-top: 15px;
}
.nav-left i{
    font-size: 25px;
    color: #1f1f1f;
    margin-top: 15px;
}

.nav-left i:hover{
    color: #3EADCf;
}

.nav-left p:hover{
    color: #3EADCf;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.btn1{
    color: #3EADCf;
    border-color: #3EADCf;
    font-weight: 700;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.btn1:hover{
    color: white;
    background-color: #3EADCf;
    border-color: white;
    font-weight: 700;
}

.search{
    border-radius: 150px;
    width: 300px;
}

.menu{
    margin-left: 15px;
}

#menu { 
    color: #1f1f1f;
    font-weight: 700px;
    font-size: 12px;
}

#menu:hover{
    color: #3EADCf;
}


/*=========================|Body|=========================*/
body{
    background-color:rgb(240, 240, 240);
}

/*============|Imahe Header|=============*/
.imghdr{
    background-color: rgb(233, 233, 233);
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image:linear-gradient(0deg, rgba(17, 17, 17, 0.3), rgba(0, 0, 0, 0.3)), url(./media/imghdr.jpg) ;
    background-size: cover;
    margin-bottom: 20px;
}

.imghdr h1{
    font-weight: bold;
    font-size: 75px;
    color: white;
}

.imghdr p{
    color: white;
    font-weight: 800;
}

/*============|Card Example|=============*/
.card{
    background-color: whitesmoke;
    margin-top: 25px;
    border-color: #3EADCf;
    padding: 5px;
}

.card img{
    margin-top: 0px; /* levar para o cardedit  */
}

.card-body{
    margin: auto;
    display: flex;
    flex-direction: column;

}
.card-body h5{
    color: #1f1f1f;
}
.card-body i{
    display: flex;
    justify-content: center;
    color: #1f1f1f;
}

.card-body i:hover{
    color: #3EADCf;
}

.card-text{
    margin: auto;
    padding: 5px;
    text-align: center;
}

.cardEdit { /* cadr img */
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;

}.footer1{
    background-color: #1f1f1f;
    height: 150px;
    display: flex;
    justify-content: center;
    color: rgb(240, 240, 240);
}

.botoesbaixo{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin: auto;
}
#anterior{
    margin-top: 15px;
    color: #3EADCf;
    border: 2px #3EADCf;

}

#seguinte{
    margin-top: 15px;
    color: #3EADCf;
    border: 2px #3EADCf;

}

.footer1 h1{
    margin-top: 15px;
}